GADS_CUSTOMER_ID=YOUR_CUSTOMER_ID_NO_DASHES
GADS_DEVELOPER_TOKEN=YOUR_DEVELOPER_TOKEN
GADS_CLIENT_ID=YOUR_CLIENT_ID.apps.googleusercontent.com
GADS_CLIENT_SECRET=YOUR_CLIENT_SECRET
GADS_REFRESH_TOKEN=YOUR_REFRESH_TOKEN
