GADS_CUSTOMER_IDS=ID1,ID2,ID3
GADS_DEVELOPER_TOKEN=YOUR_DEVELOPER_TOKEN
GADS_CLIENT_ID=YOUR_CLIENT_ID.apps.googleusercontent.com
GADS_CLIENT_SECRET=YOUR_CLIENT_SECRET
GADS_REFRESH_TOKEN=YOUR_REFRESH_TOKEN

FB_ACCOUNT_ID=act_XXXXXXXXXXXXXXXXX
FB_ACCESS_TOKEN=YOUR_FB_ACCESS_TOKEN
